body {
    color: white;
    background-color: #343434;
    font-family: 'New Tegomin', serif;
}

input {
    width: 80%;
    display: block;
    padding: 5px;
    background-color: white;
    color: black;
}
input{
    border-radius: 5px;
    color: black;
    background-color: rgb(211, 211, 211);
}

button {
    margin: 10px;
    height: 35px;
}

.modal-body,label,.modal-footer,.modal-header{
    background-color:#343434;
    color: white;
}
.modal-content{
    border: 2px solid white;
}
h2, h3, h4, h5, h6, p {
    background-color: #121212;
}

.btn-primary {
    width: 250px;
    margin: auto;
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: black;
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;
}

.input-form {
    border-bottom: 2px solid red;
    background-color: #121212;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 25px;
    width: 80%;
    display: flex;
    padding: 30px;
}

.form-group {
    width: 100%;
}

.recipe {
    border: 2px solid black;
    border-bottom: 2px solid red;
    background-color: #121212;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 25px;
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}